* {
	background: black; color: lightgreen;
	font-family: monospace, monospace; font-size: 2vh;
}

html, body { width: 100%; height: 100%; margin: 0; overflow: hidden; }

pre, textarea, button {
	width: 100%;
}

button {
	background: darkslategray;
}

#cmd { position: absolute; bottom: 0; width: 100%; }
