* {
	background: black; color: lightgreen;
	font-family: monospace, monospace; font-size: 2vh;
}

html, body { width: 100%; height: 100%; margin: 0; overflow: hidden; }

textarea { width:100%; caret-color:red; }
button   { width:100%; background: darkslategray; height: 11vmin; }

#cmd { position: absolute; bottom:0; width:100%; }

#stack,#pad { color:cyan; }
